<div class="card">
    <div class="card-body">
      <div class="form-group max-height">
        <h4>Pacientes</h4>
        <input type="text" class="form-control" name="nombre" placeholder="Buscar..." [(ngModel)]="searchText"
          (input)="mostrarLista = (searchText.length > 0)">
        <ul class="list-group mt-2" *ngIf="mostrarLista">
          <li class="list-group-item" *ngFor="let paciente of filtrarOpciones(searchText)"
            (click)="seleccionarPaciente(paciente)">{{ paciente.nombre }}</li>
        </ul>
      </div>
      <!-- Datos de paciente -->
      <div class="row">
        <div class="col-12 paciente">
          <h4>Datos del paciente
            <button class="btn btn-primary mt-2" *ngIf="mostrarInformacion" (click)="toggleInformacion()">Editar</button>
            <button class="btn btn-primary mt-2" *ngIf="mostrarInformacion" (click)="irAgregarPaciente()">Agregar paciente</button>
            <button class="btn btn-primary mr-2" *ngIf="!mostrarInformacion" (click)="guardarCambios()" [disabled]="pacienteForm.invalid">Guardar</button>
            <button class="btn btn-secondary" *ngIf="!mostrarInformacion" (click)="cancelarEdicion()">Cancelar</button>
          </h4>
  
          <form [formGroup]="pacienteForm">
            <div class="form-row">
              <div class="form-group col-md-2">
                <label for="nombre" class="mr-2">Nombre:</label>
                <input type="text" formControlName="nombre" class="form-control mr-2" [readonly]="mostrarInformacion">
                <small class="text-danger" *ngIf="pacienteForm.get('nombre')?.touched && pacienteForm.get('nombre')?.errors?.['required']">
                  El nombre es requerido
                </small>
  
                <label for="alergias" class="mr-2">Alergia:</label>
                <input type="text" formControlName="alergias" class="form-control" [readonly]="mostrarInformacion">
                <small class="text-danger" *ngIf="pacienteForm.get('alergias')?.touched && pacienteForm.get('alergias')?.errors?.['required']">
                  La alergia es requerida
                </small>
              </div>
              <div class="form-group col-md-2">
                <label for="apellido" class="mr-2">Apellido:</label>
                <input type="text" formControlName="apellido" class="form-control" [readonly]="mostrarInformacion">
                <small class="text-danger" *ngIf="pacienteForm.get('apellido')?.touched && pacienteForm.get('apellido')?.errors?.['required']">
                  El apellido es requerido
                </small>
                <label for="telefono" class="mr-2">Teléfono:</label>
                <input type="text" formControlName="telefono" class="form-control" [readonly]="mostrarInformacion">
                <small class="text-danger" *ngIf="pacienteForm.get('telefono')?.touched && pacienteForm.get('telefono')?.errors?.['required']">
                  El teléfono es requerido
                </small>
              </div>
  
              <div class="form-group col-md-3">
                <label for="email" class="mr-2">Email:</label>
                <input type="text" formControlName="email" class="form-control" [readonly]="mostrarInformacion">
                <small class="text-danger" *ngIf="pacienteForm.get('email')?.touched && pacienteForm.get('email')?.errors?.['required']">
                  El email es requerido
                </small>
  
                <label for="direccion" class="mr-2">Dirección:</label>
                <input type="text" formControlName="direccion" class="form-control mr-2" [readonly]="mostrarInformacion">
                <small class="text-danger" *ngIf="pacienteForm.get('direccion')?.touched && pacienteForm.get('direccion')?.errors?.['required']">
                  La dirección es requerida
                </small>
              </div>
  
              <div class="form-group col-md-2">
                <label for="rut" class="mr-2">Rut:</label>
                <input type="text" formControlName="rut" class="form-control" [readonly]="mostrarInformacion">
                <small class="text-danger" *ngIf="pacienteForm.get('rut')?.touched && pacienteForm.get('rut')?.errors?.['required']">
                  El rut es requerido
                </small>
  
                <label for="is_activo" class="mr-2">Estado:</label>
                <input type="text" formControlName="is_activo" class="form-control" [readonly]="mostrarInformacion">
              </div>
  
              <div class="form-group col-md-2">
                <div class="form-group mr-2">
                  <label for="edad">Fecha de nacimiento:</label>
                  <div class="d-flex align-items-center">
                    <input type="text" formControlName="edad" class="form-control mr-2" matInput [matDatepicker]="picker" [readonly]="mostrarInformacion">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </div>
                  <small class="text-danger"
                    *ngIf="pacienteForm.get('edad')?.touched && pacienteForm.get('edad')?.errors?.['required']">
                    La fecha de nacimiento es requerida
                  </small>
                  <label for="prevencion" class="mr-2">Prevención:</label>
                  <input type="text" formControlName="prevencion" class="form-control" [readonly]="mostrarInformacion">
                  <small class="text-danger" *ngIf="pacienteForm.get('prevencion')?.touched && pacienteForm.get('prevencion')?.errors?.['required']">
                    La prevención es requerida
                  </small>
                </div>
  
              
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div *ngIf="pacienteFicha">
      <app-ficha-clinica></app-ficha-clinica>
    </div>
  </div>
  