<div class="row">
  <!-- LISTADO DE FICHAS CLINICAS -->
  <div class="col-md-6">
    <div class="table-responsive mt-3" *ngIf="fichasClinicas">
      <table class="table table-hover table-striped custom-table">
        <thead>
          <tr>
            <th colspan="2"><h4>Fichas clínicas</h4></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ficha of fichasClinicas">
            <td>
              <a class="table-link" (click)="mostrarDetallesFicha(ficha.id_ficha)">
                Ficha N° {{ ficha.id_ficha }}
              </a>
            </td>
            <td>
              <a class="table-link" (click)="mostrarDetallesFicha(ficha.id_ficha)">
                Fecha: {{ ficha.fecha_creacion | date: 'dd/MM/yyyy' }}
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
    <div class="card col-md-6 ficha">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <h4>Ficha clínica</h4>
            <form [formGroup]="fichaClinicaForm">
              <div class="form-group">
                <label for="motivo_consulta">Motivo de consulta:</label>
                <textarea formControlName="motivo_consulta" class="form-control" rows="3" [readonly]="mostrarInformacion"></textarea>
              </div>
              <div class="form-group">
                <label for="examen_fisico">Examen físico:</label>
                <textarea formControlName="examen_fisico" class="form-control" rows="3" [readonly]="mostrarInformacion"></textarea>
              </div>
              <div class="form-group">
                <label for="intervencion">Intervención:</label>
                <textarea formControlName="intervencion" class="form-control" rows="3" [readonly]="mostrarInformacion"></textarea>
              </div>
              <div class="form-group">
                <label for="indicaciones">Indicación:</label>
                <textarea formControlName="indicaciones" class="form-control" rows="3" [readonly]="mostrarInformacion"></textarea>
              </div>
            </form>
            <button class="btn btn-primary mt-2" *ngIf="mostrarInformacion" (click)="toggleInformacion()">Editar</button>
            <button class="btn btn-primary mr-2" *ngIf="!mostrarInformacion" (click)="guardarCambios()">Guardar</button>
            <button class="btn btn-secondary" *ngIf="!mostrarInformacion" (click)="cancelarEdicion()">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
    
  </div>


