.ficha {
    background-color: #c2e7e1;
  }
  .btn{
    margin-right: 4px;
  }
.btn-primary {
    background-color: #7FBBB2;
  }

  .encabezado-columna {
    background-color: #7ddfcd;
  }
  
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #faffff;
  }
  
  .table-striped tbody tr:nth-of-type(even) {
    background-color: #dbf6f1;
  }
  .form-control {
    border: 1px solid black;
    background-color: #f2f2f2;
  }
  
  