<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Centro Kinésico Claudiso Vásquez</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#inicio">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#sobre-mi">Sobre Mí</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#convenios">Convenios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contacto">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#solicitar-hora">Solicita tu hora</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Carrusel -->
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="../../../../assets/images/carrusel.png" class="carousel-img d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="../../../../assets/images/carrusel2.jpg" class="carousel-img d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img src="../../../../assets/images/carrusel3.jpg" class="carousel-img d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- Servicios -->
<section id="inicio" class="body-cuerpo">
  <div class="container">
    <h2 class="section-title text-center">Servicios Principales</h2>
    <div class="row justify-content-center">
      <div class="col-md-2">
        <div class="card servicio text-center">
          <i class="mdi mdi-heart-pulse mdi-custom-icon"></i>
          <div class="card-body">
            <h6 class="card-title">Rehabilitación Cardiovascular</h6>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card servicio text-center">
          <i class="mdi mdi-bone mdi-custom-icon"></i>
          <div class="card-body">
            <h6 class="card-title">Rehabilitación Traumatológica</h6>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card servicio text-center">
          <i class="mdi mdi-dumbbell mdi-custom-icon"></i>
          <div class="card-body">
            <h6 class="card-title">Entrenamiento Personalizado</h6>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card servicio text-center">
          <i class="mdi mdi-trophy-outline mdi-custom-icon"></i>
          <div class="card-body">
            <h6 class="card-title">Reintegro Deportivo</h6>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card servicio text-center">
          <i class="mdi mdi-home mdi-custom-icon"></i>
          <div class="card-body">
            <h6 class="card-title">Trabajo a Domicilio</h6>
          </div>
        </div>
      </div>

      <div class="col-md-2">
        <div class="card servicio text-center">
          <i class="mdi mdi-run mdi-custom-icon"></i>
          <div class="card-body">
            <h6 class="card-title">Entrenamiento de Resistencia</h6>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>



<!-- sobre mi -->
<section id="sobre-mi" class="body-cuerpo">
  <div class="container">
    <h2 class="section-title">Sobre Mí</h2>
    <div class="row">
      <div class="col-md-6">
        <img src="../../../../assets/images/claudio-perfil.png" alt="Claudio Vásquez" class="img-fluid">
    
      </div>
      <div class="col-md-6">
        <div id="card-carousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#card-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#card-carousel" data-slide-to="1"></li>
            <!-- Agrega más elementos 'carousel-item' con las tarjetas adicionales -->
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="card">
                <div class="card-body border rounded   shadow-sm">
                  <h3 class="section-subtitle">Claudio Vásquez - Kinesiólogo</h3>
                  <p class="section-description">¡Hola! Soy Claudio Vásquez, kinesiólogo especializado en rehabilitación y cuidado de la salud.</p>
                  <p class="section-description">Con más de 2 años de experiencia, me apasiona ayudar a las personas a recuperar su bienestar y mejorar su calidad de vida.</p>
                  <p class="section-description">Ofrezco servicios personalizados de rehabilitación cardiovascular y traumatológica, entrenamiento personalizado, reintegro deportivo y terapia a domicilio.</p>
                  <p class="section-description">Mi objetivo es trabajar junto a ti para alcanzar tus metas y ayudarte a sentirte mejor en cada sesión.</p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="card ">
                <div class="card-body border rounded  shadow-sm">
                  <h3 class="section-subtitle">Con especialización en:</h3>
                  <ul class="section-list">
                    <li>Licenciado en Kinesiología - Universidad del Desarrollo - distinción máxima</li>
                    <li>Kinesiólogo - Universidad del Desarrollo</li>
                    <li>Expositor de Jornada de Fisiología Clínica del ejercicio, Universidad del Desarrollo, Concepción (2017)</li>
                    <li>Curso Punción seca, Electropunción y Crosstape Nassara Concepción (2018)</li>
                    <li>Curso IAAS y Salud Familiar (2019)</li>
                    <li>Curso internacional: Manipulación instrumental de tejido blando concepto: Kineticx</li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- Agrega más elementos 'carousel-item' con las tarjetas adicionales -->
          </div>
          <a class="carousel-control-prev" href="#card-carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#card-carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
     
    </div>
  </div>
</section>











<a href="https://wa.me/56978824194?text=Hola%20buenos%20días,%20¿tiene%20una%20hora%20disponible?" target="_blank"
  class="whatsapp-link">
  <i class="mdi mdi-whatsapp mdi-48px"></i>
</a>




<!-- Requesitos para la consulta -->
<div class="requisitos body-cuerpo">
  <div class="container text-center">
    <h3>Requisitos Para Solicitar Hora</h3>
    <div class="row row-cols-auto">
      <div class=".col-sm-">
        <div class="card" style="width: 20rem;">
          <div class="card-body border rounded shadow-sm">
            <p class="card-text">1° Tu medico tratante debe entregarte tu orden de derivación</p>
          </div>
        </div>
      </div>
      <div class=".col-sm-">
        <div class="card" style="width: 20rem;">
          <div class="card-body border rounded shadow-sm">
            <p class="card-text">2° Debe presentar dicha orden el día de su cita kinesica</p>
          </div>
        </div>
      </div>
      <div class=".col-sm-">
        <div class="card" style="width: 20rem;">
          <div class="card-body border rounded shadow-sm">
            <p class="card-text">3° el kinesiólogo se pondra en contacto con usted para confirmar la agenda </p>
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#solicitarHoraModal">
      Abrir formulario
    </button>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="solicitarHoraModal" tabindex="-1" aria-labelledby="solicitarHoraModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="solicitarHoraModalLabel">A</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <form [formGroup]="agendaform">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="nombre" class="mr-2">Nombre:</label>
                  <input type="text" formControlName="nombre" placeholder="Ingrese el nombre" class="form-control"
                    required>
                  <small class="text-danger"
                    *ngIf="agendaform.get('nombre')?.touched && agendaform.get('nombre')?.errors?.['required']">
                    El nombre es requerido
                  </small>
                </div>
                <div class="form-group col-md-6">
                  <label for="apellido" class="mr-2">Apellido:</label>
                  <input type="text" formControlName="apellido" placeholder="Ingrese el apellido" class="form-control"
                    required>
                  <small class="text-danger"
                    *ngIf="agendaform.get('apellido')?.touched && agendaform.get('apellido')?.errors?.['required']">
                    El apellido es requerido
                  </small>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="rut">Rut:</label>
                  <input type="text" (input)="onRutInput($event)" formControlName="rut" placeholder="Ingrese el rut" (input)="onRutInput($event)"
                    class="form-control" required minlength="11" maxlength="12">
                  <small class="text-danger"
                    *ngIf="agendaform.get('rut')?.touched && agendaform.get('rut')?.errors?.['required']">
                    El rut es requerido
                  </small>
                </div>
                <div class="form-group col-md-6">
                  <label for="telefono">Teléfono:</label>
                  <input type="text" formControlName="telefono"(input)="onTelefonoInput($event)"
                  placeholder="+569 xxxxxxxx" class="form-control" required>
                  <small class="text-danger"
                    *ngIf="agendaform.get('telefono')?.touched && agendaform.get('telefono')?.errors?.['required']">
                    El teléfono es requerido
                  </small>
                </div>
              </div>
              <div class="form-row">

                <div class="form-group col-md-6">
                  <label for="email">Email:</label>
                  <input type="text" formControlName="email" placeholder="Ingrese el email" class="form-control"
                    required>
                  <small class="text-danger"
                    *ngIf="agendaform.get('email')?.touched && agendaform.get('email')?.errors?.['required']">
                    El email es requerido
                  </small>
                </div>
                <div class="form-group col-md-6">
                  <label for="profesionales">profesionales:</label>
                  <select id="profesionales" class="form-control" [(ngModel)]="profesionalSeleccionado" name="profesionales"
                    [ngModelOptions]="{standalone: true}" (change)="buscarProfesional()">
                    <option *ngFor="let profesional of profesionales" [ngValue]="profesional.rut">{{ profesional.nombre }}</option>
                  </select>
                  <small class="text-danger" *ngIf="!profesionalSeleccionado">
                    El profesional es requerido
                  </small>
                  
                </div>
                <div class="form-group col-md-6">
                  <label for="servicio">Servicio:</label>
                  <select id="servicio" class="form-control" [(ngModel)]="servicioSeleccionado" name="servicio"
                    [ngModelOptions]="{standalone: true}" (change)="buscarServicios()">
                    <option *ngFor="let servicio of servicios" [ngValue]="servicio.nombre">{{ servicio.nombre }}
                    </option>
                  </select>
                  <small class="text-danger" *ngIf="!servicioSeleccionado">
                    El servicio es requerido
                  </small>
                </div>
             
                
              </div>

            </form>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-end">
          <button class="btn btn-secondary" data-bs-dismiss="modal" (click)="cancelarEdicion()">Cancelar</button>
          <button class="btn btn-primary mr-2"  [disabled]="!camposCompletos()" (click)="guardarCambios()" data-bs-dismiss="modal">Guardar</button>
        </div>
      </div>
    </div>
  </div>

</div>




<footer class=" bg-dark text-light">
  <div class="container">
    <div class="row">

      <div class="col-md-4 text-center">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3195.589329159822!2d-73.10069938930592!3d-36.780418175574184!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9669ca9837bcde8f%3A0xd4d5d58cc81ce0a6!2zTsOhcG9sZXMgMjU3MCwgSHVhbHDDqW4sIFRhbGNhaHVhbm8sIELDrW8gQsOtbw!5e0!3m2!1ses!2scl!4v1685997596032!5m2!1ses!2scl"
          width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="col-md-4">
        <h4>CLAUDIO VÁZQUEZ</h4>
        <p>Todos los derechos reservados &copy; 2023</p>
        <ul class="contact-links">
          <li><i class="fas fa-map-marker-alt"></i> Dirección: Nápoles 2570, Hualpén, Talcahuano </li>
          <li><a href="https://wa.me/56978824194?text=Hola%20buenos%20días,%20¿tiene%20una%20hora%20disponible?"
              target="_blank"><i class="fab fa-whatsapp"></i> WhatsApp</a></li>
        </ul>
      </div>
      <div class="direccion col-md-4">
        <p>Horario</p>
        <p>8am-18pm</p>
        <p>lunes a viernes</p>
       
      </div>
    </div>
  </div>
</footer>